* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personCard {
  background-color: #cffafe;
  padding: 30px;
  text-align: center;
}
h1 {
  color: #0f172a;
  margin-bottom: 20px;
}

img {
  margin-top: 20px;
}
